<div *ngIf="isEditMode" class="edit-container">
  <button (click)="edit.emit()" class="edit-control-button transparent-btn edit-btn"></button>
  <button (click)="delete.emit()" class="edit-control-button transparent-btn remove-btn"></button>
</div>
<ng-container>
  <section #section [matTooltip]="lessonTooltip()">
    <schedule-lesson
      *ngFor="let lesson of lessons"
      [lesson]="lesson"
      [routing]="true"
      [showForeground]="!!lesson.isGeneral" />
  </section>
  <div *ngIf="scrollable()" [matTooltip]="lessonTooltip()" class="btn-cell">
    <button (click)="previous()" class="transparent-btn switchers-btn">
      <icon src="arrow_back" />
    </button>
    <button (click)="next()" class="transparent-btn switchers-btn">
      <icon src="arrow_forward" />
    </button>
  </div>
</ng-container>
<ui-more-indicator *ngIf="scrollable()" />
