@import 'indents';

:host {
  position: relative;
}

.transparent-btn {
  background: transparent;
  border: none;
  outline: none;
}

.switchers-btn {
  height: 100%;
  width: 50%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: transparent;

  &:hover {
    color: white;
    background: rgba(0, 0, 0, 0.2);
  }

  &:active {
    background: rgba(0, 0, 0, 0.4);
  }

  icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
  }
}

.btn-cell {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  user-select: none;
  border-radius: $borderRadius4;
  overflow: hidden;
}

ui-more-indicator {
  position: absolute;

  right: -10px;
  top: -10px;
}

section {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: $borderRadius4;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  schedule-lesson {
    min-width: 100%;
    flex-grow: 1;
    scroll-snap-align: start;
  }

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

:host:hover .edit-container, .edit-container:hover {
  transform: translateY(-17px);
}

.edit-container {
  display: flex;

  position: absolute;
  top: -3px;

  width: 100%;
  height: 43px;

  padding-bottom: 22px;

  transition: all 0.3s;

  //background: linear-gradient(90deg, $thirdColor 50%, $dangerColor 50%);

  border-radius: 25px 25px 0 0;
  border: none;
}

.edit-control-button {
  padding: 0;
  line-height: 10px;
  flex-grow: 1;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

.remove-btn {
  background-image: url("/assets/trash-can.svg");
}

.edit-btn {
  background-image: url("/assets/edit.svg");
}

/* new */

ui-more-indicator {
  position: absolute;
  top: -$indent1;
  right: -$indent1;
}

schedule-lesson {
  max-width: 100%;
}

