<div *ngIf="showForeground" class="not-updated-foreground"></div>
<main [style.background-color]="form.get('primaryColor')!!.value">
  <div
    [style.background]="form.get('secondaryColor')!!.value"
    [style.margin-right.px]="form.get('secondaryColor')!!.value == 'transparent' ? 0 : 5"
    class="secondaryColorContainer"
  ></div>
  <form>
    <head4 [queryParams]="buildQueryParams('subject')"
           [routerLink]="routing ? '.' : undefined"
           class="subject-name"
    >{{form.controls['subject'].value}}</head4>
    <p1 [queryParams]="buildQueryParams('teacher')"
        [routerLink]="routing ? '.' : undefined"
        class="teacher-name"
    >{{form.controls['teacher'].value}}</p1>
    <p1 [queryParams]="buildQueryParams('room')"
        [routerLink]="routing ? '.' : undefined"
        class="room-name"
    >{{form.controls['room'].value}}</p1>
    <p1 [queryParams]="buildQueryParams('group')"
        [routerLink]="routing ? '.' : undefined"
        class="group-name"
    >{{form.controls['group'].value}}</p1>
  </form>
</main>
