$dark: (
        _default: true,
        primaryColor: #7289DA,
        secondaryColor: #FF9900,
        thirdColor: #CC88FF,
        backgroundColor: #262E3F,
        secondaryBackgroundColor: #3B4252,
        onPrimaryColor: #F0F0F0,
        onSecondaryColor: #F0F0F0,
        onBackgroundColor: #F0F0F0,
        onSecondaryBackgroundColor: #F0F0F0,
        skeletonColor: #999999,
        skeletonIndicatorColor: #A8A8A8,
        skeletonPrimaryColor: #888888,
        skeletonPrimaryIndicatorColor: #B0B0B0,
        onEmpty: #5263A5,
        onError: #FF3B30,
)