$light: (
        primaryColor: #122979,
        secondaryColor: #56432e,
        thirdColor: #c0b12f,
        backgroundColor: #d4e1fa,
        secondaryBackgroundColor: #8a8a8a,
        onPrimaryColor: #000000,
        onSecondaryColor: #000000,
        onBackgroundColor: #000000,
        onSecondaryBackgroundColor: #000000,
        skeletonColor: #999999,
        skeletonIndicatorColor: #A8A8A8,
        skeletonPrimaryColor: #888888,
        skeletonPrimaryIndicatorColor: #B0B0B0,
        onEmpty: #5263A5,
        onError: #FF3B30,
)