<ng-container *ngIf="user$ | async as user">
  <main>
    <div>
      <image [src]="user.picture" alt="profile" />
      <head2>{{user.login}}</head2>
    </div>
    <h-divider />
    <p1 *ngIf="user.studyPlaceInfo">{{user.studyPlaceInfo.name}}</p1>
    <p1 *ngIf="user.studyPlaceInfo">{{user.studyPlaceInfo.roleName}}</p1>
    <p1>{{user.email}}</p1>
  </main>

  <secondary-button (click)="signout()" key="signout" />
  <warn-button (click)="revoke()" key="revokeToken" />

  <div *ngIf="warnings(user) as warnings">
    <ul>
      <li *ngFor="let warn of warnings">
        <icon [style.color]="warn.color" src="error" />
        <url [key]="warn.message" [link]="warn.routerLink" />
      </li>
    </ul>
  </div>
</ng-container>
