<mat-form-field [appearance]="'outline'" color="accent">
  <mat-label *ngIf="label">{{label | translate}}</mat-label>
  <mat-select [formControl]="control" [placeholder]="(placeholder ?? label ?? '') | translate">
    <section>
      <icon src="search" />
      <input [formControl]="searchControl" matInput>
    </section>
    <ng-container *ngIf="items$ | async as items">
      <ng-container *ngFor="let item of items; trackBy: trackBy">
        <mat-option
          [class.hidden]="!show(search$ | async, item.display)"
          [value]="item.value"
        >{{item.display | translate}}</mat-option>
      </ng-container>
    </ng-container>
  </mat-select>
  <mat-hint *ngIf="hint">{{hint | translate}}</mat-hint>
  <control-error [control]="control" matError />
</mat-form-field>