@import "themes";
@import "indents";

:host {
  position: relative;
  overflow: scroll;
  display: grid;
  grid-column-gap: $indent2;
  grid-row-gap: $indent3;
  width: 100%;
  height: 100%;
  margin: $indent2 0 0 $indent2;
  flex-grow: 1;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;

  @include theme {
    background: $backgroundColor;
    color: $onBackgroundColor;
  }
}

.empty-corner {
  position: sticky;
  top: 0;
  left: 0;
  background: inherit;
  grid-column: 1;
  grid-row: 1;
  z-index: 4;
}

.time-container {
  display: grid;
  position: sticky;
  left: 0;
  grid-column: 1;
  grid-row: 2;
  background: inherit;
  white-space: nowrap;
  z-index: 3;
}

.markup {
  position: sticky;
  left: 0;
  grid-column: 2;
  grid-row: 2;

  hr {
    position: absolute;
    margin: 0;
    width: 100%;
    opacity: 0.6;


    @include theme {
      color: $onBackgroundColor;
      border-top: 1px dashed $onBackgroundColor;
    }
  }
}

.weekdays-container {
  display: flex;
  position: sticky;
  grid-area: weekdays;
  grid-column: 2;
  grid-row: 1;
  height: 30px;
  top: 0;
  background: inherit;
  gap: $indent2;
  z-index: 3;
}

.lessons-container {
  display: grid;
  grid-auto-columns: 200px;
  grid-column-gap: $indent2;
  position: relative;
  height: 100%;
  grid-column: 2;
  grid-row: 2;
  z-index: 2;
}

.time {
  grid-row: 1;
  grid-column: 1;
  right: $indent2;
}

.weekday {
  text-align: center;

  width: 200px;
}

hr {
  margin: 0 $indent2;
  min-height: 1px;

  //background-color: $onBackgroundColor;
  opacity: 0.2;
  border-radius: 1px;
}

schedule-cell {
  grid-row: 1;
}
